* {
    background-color: blanchedalmond;
}
#main_div {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
}
 #main_div img {
    width: 250px;
    margin: auto;
    display: block;
 }

#main_div h1 {
    font-size: 50px;
}

#main_div h3 {
    font-size: 30px;
}

input {
    background-color: #dfdfd2;
}

#header {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

#header .button:hover {
    background-color: #006f8b;
}
.review {
    background-color: wheat;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .review h4 {
    background-color: wheat;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .review p {
    background-color: wheat;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .review p:last-child {
    margin-bottom: 0;
  }