* {
    background-color: blanchedalmond;
}
#main_div {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
}
 #main_div img {
    width: 250px;
    margin: auto;
    display: block;
 }

#main_div h1 {
    font-size: 50px;
}

#main_div h3 {
    font-size: 30px;
}

input {
    background-color: #dfdfd2;
}

#header {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

#header .button:hover {
    background-color: #006f8b;
}