<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet"/>
    <title>Movie Discovery</title>
</head>
<body>
    <div id="header">
        {% if username is none %}
        <a class="button" href="/signup">Sign Up</a>
        <a class="button" href="/login">Log In</a>
        {% else %}
        <a href="#">{{ username }}</a>
        {% endif %}
    </div>
    <div id="main_div">
        <h1>Movie Discovery</h1>
        <h3>{{ Title }}</h2>
        <h5 name="Overview">{{ Overview }}</h5>
        <p name="Genres">Genres: {{ Genres }}</p>
        <img src="{{ IMG }}" alt="Movie Picture">
        <a name="Wikipedia" href="{{WikiLink}}">Wikipedia Page<br></a>
        <a href="/review/{{ movie_id }}" class="button">Write a Review for {{ Title }}!</a>
        <form method="POST">
            <input type="text" name="Movie" placeholder="Enter a movie">
            <button type="submit" value="Submit">Submit</button>
        </form>

        {% if review %}
            <div class="review">
                <h4>Review by {{ review.user_name }}</h4>
                <p>{{ review.review_text }}</p>
                <p>Rating: {{ review.rating }}</p>
            </div>
        {% endif %}
    </div>

    
</body>
</html>