<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet"/>
    <title>Movie Discovery</title>
</head>
<body>
    <div id="main_div">
        <h1>Movie Discovery</h1>
        <h3>{{Title}}</h2>
        <h5 name="Overview">{{Overview}}</h5>
        <p name="Genres">Genres: {{Genres}}</p>
        <img src={{IMG}} alt="Movie Picture">
        <a name="Wikipedia" href="">Wikipedia Page</a>
    </div>

    
</body>
</html>