<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
	<h1>Write a Review</h1>

	<form action="/review/{{ movie_id }}" method="POST">
		<label>{{ movie_title }}</label>

		<label for="review_text">Review:</label>
		<textarea id="review_text" name="review_text" maxlength="280" placeholder="Max length 280 characters"></textarea><br>

		<label for="rating">Rating:</label>
		<select id="rating" name="rating">
			<option value="5">5 Stars</option>
			<option value="4">4 Stars</option>
			<option value="3">3 Stars</option>
			<option value="2">2 Stars</option>
			<option value="1">1 Star</option>
		</select><br>

		<input type="submit" value="Submit">
	</form>
</body>
</html>